.event-view {
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 1);
}

/*TODO: Make pretty*/
.event-view:focused {
    -fx-border-color: #CC201A;
    -fx-border-width: 2px;
}

.coordinator-view {
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 1);
}

.coordinator-view:hover, .event-view:hover {
    -fx-scale-x: 105%;
    -fx-scale-y: 105%;
    -fx-scale-z: 105%;
}

.coordinator-information .label {
    -fx-font-size: 10;
    -fx-text-fill: gray;
}

.coordinator-information .info-label {
    -fx-font-size: 16;
    -fx-text-fill: black;
}

.backButton {
    -fx-background-color: TRANSPARENT;
}

.eventHalf{
    -fx-background-image: url("/images/EditEvent.jpg");
    -fx-background-size: 800 auto cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.loginHalf{
    -fx-background-image: url("/images/Login.jpg");
    -fx-background-size: 1000 auto cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.event-view-top {
    -fx-background-image: url("/images/Event.jpg");
    -fx-background-size: 300 auto cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}