* {
    -fx-red: #CC201A;
    -fx-yellow: #FFBD50;
    -fx-blue: #00AAEB;
    -fx-black: #241F20;
}

.root {
    -fx-accent: derive(-fx-red, 130%);
}

.event-view {
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 1);
}

/*TODO: Make pretty*/
.event-view:focused .event-view-bottom {
    -fx-background-color: lightgray
}

.coordinator-view {
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 1);
}

.coordinator-view:hover, .event-view:hover {
    -fx-scale-x: 105%;
    -fx-scale-y: 105%;
    -fx-scale-z: 105%;
}

.coordinator-information .label {
    -fx-font-size: 10;
    -fx-text-fill: gray;
}

.coordinator-information .info-label {
    -fx-font-size: 16;
    -fx-text-fill: black;
}

.backButton {
    -fx-background-color: TRANSPARENT;
}

.eventHalf{
    -fx-background-image: url("/images/EditEvent.jpg");
    -fx-background-size: cover;
    -fx-background-position-x: center;
}

.loginHalf{
    -fx-background-image: url("/images/Login.jpg");
    -fx-background-size: cover;
    -fx-background-position-x: center;
}

.event-view-top {
    -fx-background-image: url("/images/Event.jpg");
    -fx-background-size: cover;
    -fx-background-position-x: center;
}

/******************************************************/
/*Styling of text fields, date pickers and combo-boxes*/
/******************************************************/

.mfx-text-field:focus-within {
    -fx-border-color: -fx-red;
}

.mfx-text-field .text-field {
    -fx-highlight-fill: derive(-fx-red, 110%);
}

.mfx-text-field:focus-within .floating-text,
.mfx-date-picker .date-picker-popup .months-combo:focus-within,
.mfx-date-picker .date-picker-popup .years-combo:focus-within {
    -fx-text-fill: -fx-red;
}

.mfx-date-picker:focus-within .icon,
.mfx-combo-box:focus-within .caret .mfx-font-icon {
    -mfx-color: -fx-red;
}

.mfx-date-picker .date-picker-popup .left-arrow .mfx-ripple-generator,
.mfx-date-picker .date-picker-popup .right-arrow .mfx-ripple-generator{
    -mfx-ripple-color: derive(-fx-red, 130%);
}

.mfx-date-picker .date-picker-popup .mfx-date-cell:selected {
    -fx-background-color:-fx-red;
}

.mfx-date-picker .date-picker-popup .mfx-date-cell:current {
    -fx-background-color: derive(-fx-red, 130%);
    -fx-text-fill: -fx-red;
}

.mfx-combo-box .virtual-flow .mfx-combo-box-cell:hover,
.mfx-combo-box .virtual-flow .mfx-combo-box-cell:selected {
    -fx-background-color: derive(-fx-red, 110%);
}

.mfx-combo-box:focus-within .caret .mfx-ripple-generator {
    -mfx-ripple-color: derive(-fx-red, 130%);
}

/******************************************************/
/************************SLUT**************************/
/******************************************************/

.mfx-button {
    -fx-background-color: derive(-fx-blue, 100%);
}
